.container-fluid {
    background-color: #23252C;
    height: 100vh;
    position: relative;
}

@mixin adjust-container-height($container-height){
    @if ($container-height < 100vh){
        height: $container-height;
    } @else {
        height: 100vh;
    }
}


.display-container {
    background-color: #1A1B21;
    width: 20rem;
    @include adjust-container-height(49rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: hidden;
}


header {
    height: 69%;
    text-align: center;
}

.profile-pic {
    display:block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 21px;
}


h1 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 6px;
}

.title {
   font-weight: 400;
   font-size: 12.8px;
   color: #F3BF99;
   margin-bottom: 8px;
}

.website, a {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.btn {
    width: 115px;
    height: 34px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
}

.bi {
    margin-right: 8px;
}

.bi-envelope {
    color: black;
}

.main {
    margin: 33px 35px 24px 35px;
}

.main h2 {
    font-size: 16px;
    font-weight: 700;
}

.main p {
    font-size: 11px;
    font-weight: 400;
}

.social-media-logo {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    background-color: #161619;
    padding: 19px 0;
}

.social-media-logo > button {
    width: 25px;
    height: 25px;
    background-color: #918E9B;
    border: none;
    outline: none;
    border-radius: 5px;
}

.social-media-logo > button > .bi {
    margin-right: 0 !important;
    color: #161619;
    
}